@model TrainTicket.MVC.Models.TrainRouteAddViewModel

@{
    ViewData["Title"] = "TrainRouteAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">
    <h4  class="text-center text-primary mt-2">Tren Rotası Oluştur </h4>
    <hr />
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="TrainRouteAdd" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select class="form-select form-select-lg mb-3" asp-for="StartRo" asp-items="@ViewBag.Cities" style="width: 300px; height:50px;">
                    <option selected disabled>Başlangıç Rotası</option>
                </select>
            </div>
           <div class="form-group">
                <select class="form-select form-select-lg mb-3" asp-for="Ro1" asp-items="@ViewBag.Cities" style="width: 300px; height:50px;">
                    <option selected disabled>Rota 1</option>
                </select>
            </div>
                <div class="form-group">
                <select class="form-select form-select-lg mb-3" asp-for="Ro2" asp-items="@ViewBag.Cities" style="width: 300px; height:50px;">
                    <option selected disabled>Rota 2</option>
                </select>
            </div>
                 <div class="form-group">
                <select class="form-select form-select-lg mb-3" asp-for="Ro3" asp-items="@ViewBag.Cities" style="width: 300px; height:50px;">
                    <option selected disabled>Rota 3</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-select form-select-lg mb-3" asp-for="FinishRo" asp-items="@ViewBag.Cities" style="width: 300px; height:50px;">
                    <option selected disabled>Bitiş Rotası</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Time" class="form-control" style="width:300px; height:50px;" placeholder="Tarih" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
            
                <input asp-for="Clock" class="form-control" style="width:300px; height:50px;" placeholder="Saat"  />
                <span asp-validation-for="Clock" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2">
               
                <input asp-for="Image" class="form-control" style="width:300px; height:50px;" placeholder="Resim" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2">
                <input asp-for="Price" class="form-control" style="width:300px; height:50px;" placeholder="Fiyat" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group  mt-2 " >
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

