 @model Ticket

@{
    ViewData["Title"] = "TicketQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-4">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <form asp-action="TicketQuery" method="post">
        <h3 class="text-center text text-primary">Bilet Sorgula</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="TicketNo" class="form-control"  placeholder="Bilet Mo"/>
                <span asp-validation-for="TicketNo" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sorgula" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        @if (ViewBag.status == "true")
        {
            <table class="table table-bordered table-striped">
                <h3 class="text-center text-info">Bilet Bilgilerim</h3>
            <tr>
                <th>Adınız</th>
                <th>Soyadınız</th>
                <th>Nereden</th>
                <th>Nereye</th>
                <th>Email</th>
                <th>Telefon Numaranız</th>
                <th>Fiyat</th>
                <th>İptal Et</th>
            </tr>
            <tr>
                <td>@TempData["FirstName"]</td>
                <td>@TempData["LastName"]</td>
                <td>@TempData["FromWhere"]</td>
                <td>@TempData["ToWhere"]</td>
                <td>@TempData["Email"]</td>
                <td>@TempData["PhoneNumber"]</td>
                <td>@TempData["Price"]</td>
                <td><a asp-controller="Home" asp-action="TicketCancel" asp-route-id="@TempData["Id"]" class="btn btn-outline-danger">İptal Et</a></td>

            </tr>

        </table>
        }
    </div>
     
</div>



 
