@model TrainTicket.MVC.Models.TicketBuyViewModel

@{
    ViewData["Title"] = "TicketBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <form asp-action="TicketBuy" method="post">
            <h3 class="text text-danger text-center">Bilet Almak İçin Lütfen bilgileri Giriniz.</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <input type="submit" value="Kaydet" class="btn btn-outline-primary form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered table-striped">
            <h3 class="text text-primary text-center">Bilet Bilgileri</h3>
            <tr>
                <td>Nereden</td>
                <td>Nereye</td>
                <td>Tarih</td>
                <td>Saat</td>
                <td>Fiyat</td>
            </tr>
            <tr>
                <td>@Model.TrainRoute.StartRo</td>
                <td>@Model.TrainRoute.FinishRo</td>
                <td>@Model.TrainRoute.Time</td>
                <td>@Model.TrainRoute.Clock</td>
                <td>@Model.TrainRoute.Price</td>
            </tr>
        </table>
    </div>

    <div class="col-md-1"></div>

</div>
